@import "@/app/_mixins.scss";

// section {
//   background: linear-gradient(
//     180deg,
//     var(--main-bg-color),
//     var(--main-bg-color)
//   );
// }

.hero {
  // background: linear-gradient(
  //   180deg,
  //   var(--main-bg-color),
  //   var(--main-bg-color)
  // );
  // height: 100vh;
  // overflow: hidden;
  // display: flex;
  // align-items: center;
  // max-width: 1024px;
  // margin: auto;
  // ! WK

  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(var(--main-bg-color)),
    to(var(--main-bg-color))
  );
  background: -o-linear-gradient(
    top,
    var(--main-bg-color),
    var(--main-bg-color)
  );
  background: linear-gradient(
    180deg,
    var(--main-bg-color),
    var(--main-bg-color)
  );
  height: 100vh;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 1024px;
  margin: auto;

  @include mobile {
    // height: calc(100vh - 100px);
    // flex-direction: column;
    // padding-bottom: 8px;

    // ! WK
    height: calc(100vh - 100px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 8px;
  }

  .hero__text--container {
    // width: 100%;
    // height: 100%;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // gap: 32px;

    // ! WK
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 32px;

    @include mobile {
      width: 100%;
      height: 100%;
      // gap: 32px;
      // align-items: center;
      // text-align: center;

      // !WK
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
    }

    @include desktopLarge {
      gap: 40px;
    }

    .hero__title--main {
      font-size: 30px;
      color: rebeccapurple;
      letter-spacing: 8px;
    }

    .hero__title--second {
      font-size: clamp(28px, 8vw, 88px);
    }

    .hero__scroll-icon-wrapper {
      position: relative;
      width: 30px;
      height: 30px;

      @include mobile {
        width: 24px;
        height: 24px;
      }

      @include desktopLarge {
        width: 50px;
        height: 50px;
      }

      .hero__scroll-icon--img {
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
        object-fit: contain;
      }
    }
  }

  .hero__img-container {
    // position: relative;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    // !WK
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    // height: 100%;
    width: 700px;
    height: 550px;

    @include mobile {
      width: 320px;
      // height: 300px;
    }

    .hero__img-container--btn-resume {
      border: none;
      background-color: transparent;
      color: var(--main-color);
      padding: 20px;
      font-size: 24px;
      border: 1px solid var(--second-color);
      border-radius: 10px;
      cursor: pointer;

      margin-right: 280px;
      margin-top: -50px;
      z-index: 1;

      &:hover {
        color: var(--second-color);
      }

      @include mobile {
        padding: 10px;
        margin-right: 130px;
        margin-top: -16px;
        font-size: 12px;
      }

      @include desktopLarge {
        padding: 12px;
        margin-right: 250px;
        margin-top: -50px;
      }
    }

    .hero__img-container--image {
      width: 100%;
      height: 100%;
      -o-object-fit: contain;
      object-fit: contain;
      -webkit-filter: drop-shadow(3px 5px 5px var(--second-color));
      filter: drop-shadow(3px 5px 5px var(--second-color));
    }
  }
}
