@import "@/app/_mixins.scss";

.links-tab {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 5;
  background-color: rebeccapurple;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

  @include desktopLarge {
    display: none;
  }

  .links-tab__item {
    border: 1px solid #0c0c1d;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 4px;
    padding: 4px;

    .links-tab__item--icon-wrap {
      position: relative;
      width: 24px;
      height: 24px;

      .links-tab__item--icon {
        filter: invert(97%) sepia(2%) saturate(26%) hue-rotate(314deg)
          brightness(92%) contrast(83%);
      }
    }

    .links-tab__item--title {
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: -0.24px;
      color: var(--main-color);
    }
  }
}
