:root {
  --main-bg-color: #0c0c1d;
  --second-bg-color: #101010;
  --main-color: #d3d3d3;
  --second-color: #febb12;
}

html {
  // scroll-snap-type: y mandatory;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: var(--main-bg-color);
  color: var(--main-color);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  // height: 100vh;
  // scroll-snap-align: center;
  overflow: hidden;
}

button {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(var(--main-color)),
    to(var(--main-bg-color))
  );
  background: linear-gradient(
    transparent,
    var(--main-color),
    var(--main-bg-color)
  );
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(var(--main-bg-color)),
    to(rgba(192, 215, 244, 0.5))
  );
  background: linear-gradient(
    to bottom,
    var(--main-bg-color),
    rgba(192, 215, 244, 0.5)
  );
  border-radius: 8px;
  border: 1px solid var(--main-bg-color);
}
