@import "@/app/_mixins.scss";

.contact {
  max-width: 1024px;
  height: 100%;
  height: 100vh;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 24px;

  @include mobile {
    width: 100%;
    padding: 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 10px;
  }

  .contact__text--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 40px;
    width: 100%;

    @include mobile {
      gap: 20px;
      text-align: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
    }

    .contact__text--title {
      font-size: clamp(2.75rem, 1.5rem + 6.25vw, 5.5rem);
      line-height: clamp(2.75rem, 1.5rem + 6.25vw, 5.5rem);
    }

    .contact__text--icon-wrapper {
      position: relative;
      width: 50px;
      height: 50px;

      @include mobile {
        display: none;
      }

      .contact__text--icon {
        -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
      }
    }
  }

  .contact__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 24px;
    width: 100%;

    @include mobile {
      gap: 16px;
      padding: 40px;
    }

    .contact__form--contact,
    .contact__form--textarea {
      background-color: transparent;
      padding: 20px;
      border: 1px solid white;
      color: white;
      border-radius: 4px;
      resize: none;

      @include mobile {
        padding: 10px;
      }
    }

    .contact__form--button {
      padding: 16px;
      background-color: var(--second-color);
      border: none;
      border: 1px solid var(--second-color);
      border-radius: 4px;
      cursor: pointer;
      font-size: 24px;
      color: var(--main-bg-color);

      @include mobile {
        padding: 10px;
      }

      &:hover {
        background-color: transparent;
        color: var(--second-color);
      }
    }
  }
}
