@import "@/app/_mixins.scss";

.footer {
  font-size: clamp(0.5rem, 0.333rem + 0.833vw, 1rem);
  text-align: center;
  padding: 4px 0px;
  width: 100%;

  @include mobile {
    position: fixed;
    top: 50%;
    left: 0;
  }

  .footer__text {
    @include mobile {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);

      float: right;
      width: 196%;
    }
  }
}
