@import "@/app/_mixins.scss";

.navbar {
  max-width: 1024px;
  margin: auto;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // !WK
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  height: 72px;
  position: fixed;
  gap: 32px;
  z-index: 10;
  // mix-blend-mode: difference;

  @include mobile {
    // justify-content: center;
    // !Wk
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    position: relative;
    height: 48px;
  }

  @include tablet {
    padding: 0px 24px;
    height: 72px;
  }

  @include desktopSmall {
    padding: 0px 24px;
  }

  .navbar__logo--wrapper {
    position: relative;
    width: 48px;
    height: 48px;

    @include mobile {
      width: 32px;
      height: 32px;
    }

    @include tablet {
      width: 32px;
      height: 32px;
    }
  }
}
